body{
  background-color: whitesmoke;
}

.maincontainer{
  display: flex;
  justify-content: center;
}

.left{
  display: flex;
  align-items: center;
}

.box {
  width: 280px;
  height: 500px;
  background-color: white;
  border: 0;
  padding: 25px;
  margin: 25px;
} 

input[type=text] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  background-color: grey;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 0px;
  margin-bottom: 5px;
  resize: vertical;
}

button {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: #3897f0;;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.signin{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 25px;
  background-color: white;
  border: 0;
  padding: 25px;
  margin: 25px;
} 

.app{
  display: flex;
  justify-content: center;
  align-items: center;
}

.insta{
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style-type: none;
  margin: 50px;
  padding: 0;
  overflow: hidden;
  background-color: whitesmoke;
  flex-direction: row;
}

.os{
  display: flex;
  justify-content: center;
  align-items: center;
}

footer{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

ul li {
  float: left;
  color: #003569;
  font-weight: bold;
  text-transform: uppercase;
}