body{
  background-color: whitesmoke;
}

.maincontainer{
  display: flex;
  justify-content: center;
}

.left{
  display: flex;
  align-items: center;
}

.box {
  width: 280px;
  height: 525px;
  background-color: white;
  border: 0;
  padding: 25px;
  margin: 25px;
} 

input[type=text] {
  width: 100%;
  padding: 12px;
  border: 0.005px solid #ccc;
  background-color: whitesmoke;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 0px;
  margin-bottom: 5px;
  resize: vertical;
}

.signup{
  font-weight: 600;
  line-height: 20px;
  font-size: 17px;
  margin: 0 40px 10px;
  color: #999;
  text-align: center;
}


.policy{
  color: #999;
  font: inherit;
  font-size: 14px;
  line-height: 18px;
  margin: 20px 20px;
  text-align: center;
}

button {
  background-color: #3897f0;
  border-radius: 4px;
  color: white;
  font-size: 14px;
  font-weight: bold;
  width: 100%;
  padding: 9px;
  text-align: center;
  border-radius: 5px;
  margin-top: 1%;
  cursor: pointer;
}

.app{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font: inherit;
  font-size: §6px;
  padding: 0px;
  margin: 15px;
}

.signin{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 25px;
  background-color: white;
  border: 0;
  padding: 25px;
  margin: -15px 5px -10px 25px;
  font: inherit;
  font-size: 16px;
} 

h5 {
  width: 100%; 
  text-align: center; 
  border-bottom: 2px solid whitesmoke; 
  line-height: 0.1em;
} 

h5 span { 
   background:#fff; 
   padding:0 10px; 
}

.insta{
  display: flex;
  justify-content: center;
  align-items: center;
}

.login{
  font: inherit;
  font-size: 16px;
  color: blue;
}

ul {
  list-style-type: none;
  margin: 50px;
  padding: 0;
  overflow: hidden;
  background-color: whitesmoke;
  flex-direction: row;
}

.os{
  display: flex;
  justify-content: center;
  align-items: center;
}

footer{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

ul li {
  list-style: none;
  margin: 0 12px;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  float: left;
  text-transform: uppercase;
  font: inherit;
  font-size: 14px; 
}

@media screen and (max-width: 875px) {
  .left img{
  display: none;
  }
}